<h2> <%= current_user.name %> <%= t('Wine.favorite') %> </h2>
  <tr>
    <th class="text-center"> <%= t('User.name') %> </th>
    <th class="text-center"> <%= t('Wine.image') %> </th>
    <th class="text-center"> <%= t('Wine.price') %> </th>
    <th class="text-center">　<%= t('Wine.kind') %> </th>
    <th class="text-center"> <%= t('Wine.variety') %> </th>
    <th class="text-center"> <%= t('Wine.country') %> </th>
    <th class="text-center"> <%= t('Wine.origin') %> </th>
    <th class="text-center"> <%= t('Wine.name') %></th>
    <th class="text-center"><%= t('Wine.vintage') %> </th>
    <%# <th>味</th> %>
    <th class="text-center"> <%= t('Wine.ranking') %></th>
  </tr>
<% @favorite_wines.each do |wine| %>
  <tr>
    <td class="text-center"><%= wine.user.name%></td>
    <td class="text-center"><%= image_tag wine.image.to_s %></td>
    <td class="text-center"><%= wine.price%></td>
    <td class="text-center"><%= wine.kind%></td>
    <td class="text-center"><%= wine.variety%></td>
    <td class="text-center"><%= wine.country%></td>
    <td class="text-center"><%= wine.origin%></td>
    <td class="text-center"><%= wine.name%></td>
    <td class="text-center"><%= wine.vintage.year%></td>
    <td class="text-center"><%= wine.ranking%></td>
  </tr>
<% end %>
</table>
