<h2><%= current_user.name %>のお気に入りブログリスト</h2>

<table class="wine_table">
  <tr>
    <th class="text-center">レビュー投稿者</th>
    <th class="text-center">画像</th>
    <th class="text-center">値段帯</th>
    <th class="text-center">種類</th>
    <th class="text-center">ぶどう品種</th>
    <th class="text-center">原産国</th>
    <th class="text-center">原産地</th>
    <th class="text-center">名前</th>
    <th class="text-center">収穫年</th>
    <%# <th>味</th> %>
    <th class="text-center">投稿者の評価</th>
  </tr>
<% @favorite_wines.each do |wine| %>
  <tr>
    <td class="text-center"><%= wine.user.name%></td>
    <td class="text-center"><%= image_tag wine.image.to_s %></td>
    <td class="text-center"><%= wine.price%></td>
    <td class="text-center"><%= wine.kind%></td>
    <td class="text-center"><%= wine.variety%></td>
    <td class="text-center"><%= wine.country%></td>
    <td class="text-center"><%= wine.origin%></td>
    <td class="text-center"><%= wine.name%></td>
    <td class="text-center"><%= wine.vintage.year%></td>
    <td class="text-center"><%= wine.ranking%></td>
  </tr>
<% end %>
</table>