<%= render 'layouts/flash' %>
<div id="comment_edit_form">
  <%= form_with(model: [wine, comment]) do |f| %>
    <div class="input-field">
      <%= f.text_area :content, class: "materialize-textarea", id: "comment_content_#{wine.id}" %>
      <%= f.label :content, class: "active" %>
      <%= button_tag :type => "submit", :class =>"btn waves-effect waves-light" do %>
        送信
      <% end %>
      <%= link_to :back, class: "btn white black-text waves-effect waves-light" do %>
        戻る
      <% end %>
    </div>
  <% end %>
</div>