<h2><%= "#{@user.name}のマイページ" %></h2>
<br>
<table class="row">
    <p><%= t('User.name') %>：<%= @user.name %></p>
    <p><%= t('User.email') %>：<%= @user.email %></p>
</table>
<br>
<%= link_to t('Edit your profile'), edit_user_registration_path %>
