<% if current_user.try(:admin?) %>
  <h1>Wines_admin</h1>
<% else %>  
  <%# <h1>ワインレビュー一覧</h1> %>
  <h1><%= t('Wine.title') %> </h1>
  <hr>
<% end %>
<br>
<button type="button" class="btn btn-outline-success btn-xs"><%= link_to 'ワインレビューを投稿しよう！', new_wine_path %></button>

<%# <%= search_form_for @q do |f| %> 
<%= search_form_for @q do |f| %>
  <ul>
  <li>
    <%= f.label :kind, t('Wine.kind') %>
    <%= f.search_field :kind_cont %>

    <%= f.label :price, t('Wine.price') %>
    <%= f.number_field :price_gteq %>円以上〜
    <%= f.number_field :price_lt %>円未満
  </li> 

  <li>
    <%= f.label :ranking, t('Wine.ranking') %>
    <%= f.select :ranking_eq, [["無評価", 0], ["残念", 1], ["今一", 2], ["まーまー", 3], ["美味しい！", 4], ["最高！", 5]] ,{include_blank: true} %>
  </li>  

    <li>
      <% Label.all.each do |label| %>
        <%= f.check_box :labels_id_eq_any, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
        <label><%= label.name %></label>
      <% end %>
    </li>

    <%= f.submit "検索" %>

    <li>
    <%= link_to "最新投稿から閲覧", wines_path(sort: "true") %>
    </li>
  </ul>
<% end %>
<hr>

<table class="wine_table">
  <tr>
    <th class="text-center" ><%= sort_link(@q, t('User.name')) %></th>
    <th class="text-center"> <%= sort_link(@q, t('Wine.image')) %> </th>
    <%# <th class="text-center"><%= sort_link(@q, :price, "価格") %></th> 
    <th class="text-center"><%= sort_link(@q, t('Wine.price')) %></th>
    <th class="text-center"><%= sort_link(@q, t('Wine.kind')) %></th>
    <th class="text-center"><%= sort_link(@q, t('Wine.variety')) %></th>
    <th class="text-center"><%= sort_link(@q, t('Wine.country')) %></th>
    <th class="text-center"><%= sort_link(@q, t('Wine.origin')) %></th>
    <th class="text-center"> <%= sort_link(@q, t('Wine.name')) %> </th>
    <th class="text-center"><%= sort_link(@q, t('Wine.vintage')) %></th>
    <th class="text-center"><%= sort_link(@q, t('Wine.taste')) %></th>
    <th class="text-center"> <%= sort_link(@q, t('Wine.ranking')) %></th>
    <%# <th>紹介コメント欄</th> %>
    <th class="text-center"><%= sort_link(@q, t('Wine.labels')) %></th>
  </tr>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td class="text-center"><%= wine.user.name%></td>
        <td class="text-center"><%= image_tag wine.image.to_s %></td>
        <td class="text-center"><%= wine.price %>円</td>
        <td class = "wine_row text-center" ><%= wine.kind %></td>
        <td class="text-center"><%= wine.variety %></td>
        <td class="text-center"><%= wine.country %></td>
        <td class="text-center"><%= wine.origin %></td>
        <td class="text-center"><%= wine.name %></td>
        <td class="text-center"><%= wine.vintage.year %></td>
        <td class="text-center"><%= wine.taste %></td>
        <td class="text-center"><%= wine.ranking %></td>
        <%# <td><%= wine.overview %></td> 

         <td class="text-center">
          <% wine.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      
         <% if current_user.present? %>
            <td><button type="button" class="btn btn-outline-primary btn-xs"><%= link_to '詳細確認', wine_path(wine.id) %></button></td> 
          <% if wine.user_id == current_user.id %>
              
              <td><button type="button" class="btn btn-outline-success btn-xs"><%= link_to "編集", edit_wine_path(wine.id), data: { confirm: '本当に編集していいですか？' } %></button></td>
              <td><button type="button" class="btn btn-outline-danger btn-xs"><%= link_to '削除', wine_path(wine.id), method: :delete  %></button></td>
              
          <% end %>
          <% else %> 
            <td><button type="button" class="btn btn-outline-primary btn-xs"><%= link_to '詳細確認', wine_path(wine.id) %></button></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
