<%# <h1>ワイン詳細画面</h1> %>
<h1><%= t('Wine.show') %> </h1>

<table class="wine_table">
  <tr>
    <th class="text-center"> <%= t('Wine.image') %> </th>
    <th class="text-center"> <%= t('Wine.price') %> </th>
    <th class="text-center"> <%= t('Wine.kind') %> </th>
    <th class="text-center"> <%= t('Wine.variety') %> </th>
    <th class="text-center"> <%= t('Wine.country') %> </th>
    <th class="text-center"> <%= t('Wine.origin') %> </th>
    <th class="text-center"> <%= t('Wine.name') %> </th>
    <th class="text-center"> <%= t('Wine.vintage') %></th>
    <th class="text-center"> <%= t('Wine.taste') %> </th>
    <%# <th>紹介コメント欄</th>
    <th>評価</th> %>
  </tr>

  <tbody>
      <tr>
        <td class="text-center"><%= image_tag(@wine.image.to_s) %></td>
        <td class="text-center"><%= @wine.price %>円</td>
        <td class="text-center"><%= @wine.kind %></td>
        <td class="text-center"><%= @wine.variety %></td>
        <td class="text-center"><%= @wine.country %></td>
        <td class="text-center"><%= @wine.origin %></td>
        <td class="text-center"><%= @wine.name %></td>
        <td class="text-center"><%= @wine.vintage.year %></td>
        <td class="text-center"><%= @wine.taste %></td>
        <%# <td><%= @wine.ranking %></td>
        <%# <td><%= @wine.overview %></td> 
      </tr>
  </tbody>
</table>
<br>
<b ><%= t('Wine.ranking') %>：</b>
<%= @wine.ranking %>

<div>
<b><%= t('Wine.overview') %>：</b>
<%= @wine.overview %>
</div>

<br>

  <% if current_user.present?%>
    <% unless @wine.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入り指定する', favorites_path(wine_id: @wine.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% else %>
  <% end %> 

<br>
<%= link_to '戻る', wines_path %>
<hr>


<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, wine: @wine } %>
</div>
  <%= render partial: 'comments/form', locals: { comment: @comment, wine: @wine } %>
