<!DOCTYPE html>
<html>
  <head>
    <title>DicWineSo2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  </head>

  <body>
    <div class = "container mx-10" >
      <% if user_signed_in? %>
        <%= link_to "メインページ", wines_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <div class = "float-right">
        <%= link_to "#{current_user.name}のマイページ", user_path(current_user.id) %>
        <%= link_to "#{current_user.name}のお気に入りページ", favorites_path(current_user.id) %>
        </div>

      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>

      <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    </div>  
  </body>
</html>
